<!DOCTYPE html>
<html>
<head><title>Chat TP3</title></head>
<body>
  <input id="msg" placeholder="Digite algo..."><button onclick="send()">Enviar</button>
  <ul id="chat"></ul>
  <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
  <script>
    const socket = io();
    socket.on('resposta', data => {
      const li = document.createElement('li');
      li.textContent = `${data.msg} — [sig: ${data.sig}]`;
      document.getElementById('chat').appendChild(li);
    });
    function send() {
      const text = document.getElementById('msg').value;
      socket.emit('mensagem', text);
      document.getElementById('msg').value = '';
    }
  </script>
</body>
</html>
